*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font: 10px/1 sans-serif;
}

#transformations {
  display: table;
  margin: 1rem auto;
}

.transformation {
  font-size: 1.4rem;
  display: table-cell;
}

.transformation + .transformation {
  padding-left: 1rem;
}

.transformation h3 {
  font-size: 1.6rem;
}

.transformation pre {
  margin-top: 1rem;
}
